shamefully-hoist=true
node-linker=hoisted
public-hoist-pattern=*

dedupe-peer-dependents=true

enable-pre-post-scripts=true
registry=https://registry.npmmirror.com/

# node-linker=pnp
# symlink=false

dedupe-direct-deps=true
# prefer-symlinked-executables=false

verify-store-integrity = false

# enable-modules-dir=false

ignore-dep-scripts=false

# 仅测试,不应重复打包进去
# store-dir=./.pnpm_store

; NODEJS_ORG_MIRROR=https://registry.npmmirror.com/mirrors/node/
; https://npm.taobao.org/mirrors/node
; nodejs_org_mirror=https://npm.taobao.org/mirrors/node

; ELECTRON_MIRROR=https://registry.npmmirror.com/mirrors/electron/
; https://npm.taobao.org/mirrors/electron/
# https://mirrors.tencent.com/npm_mirrors/electron/
# electron_mirror=https://npm.taobao.org/mirrors/electron/
# https://mirrors.tencent.com/npm_mirrors/electron/
# https://npm.taobao.org/mirrors/electron
# arch=ia32
# target_arch=ia32
# msvs_version=2015

# https://electronjs.org/headers/v19.1.9/SHASUMS256.txt
# https://electronjs.org/headers/v19.1.9/win-x86/node.lib
# https://electronjs.org/headers/v19.1.9/win-x64/node.lib
# https://electronjs.org/headers/v19.1.9/win-arm64/node.lib


# https://npm.taobao.org/mirrors/node/
disturl=https://electronjs.org/headers
# disturl=https://mirrors.tencent.com/repository/generic/frankshao_public/electron/headers
# disturl=https://npm.taobao.org/dist
# https://atom.io/download/electron
runtime=electron
target=19.1.9
# build_from_source=true

# workspace

# 安装时默认用workspace的版本
save-workspace-protocol=rolling
prefer-workspace-packages=true
# save-prefix=

link-workspace-packages=deep
# shared-workspace-lockfile=false
# if-present=true
recursive=true
# include-workspace-root=true
workspace-concurrency=10

# color=false

child-concurrency=6

# shell-emulator=true

ignore-workspace-cycles=false
recursive-install=true
side-effects-cache=false
side-effects-cache-readonly=true

# loglevel=debug
